# Built with https://github.com/rollchains/spawn
configs/logs.json
dist/

# Create cosmos app
web/

# Ignore build artifacts
build/
*.o
*.so

# Explorer build outputs
rollchain-explorer/node_modules/
rollchain-explorer/.next/
node_modules/
